{% extends 'main.html' %}
{% load staticfiles %}
{% block content %}
<form action="{% url 'login'%}" method="post">
    {% csrf_token %}
    <label for="username">Имя пользователя</label> <br/>
    <input type="text" name="username" id="username" placeholder="login"><br/>
    <label for="password">Пароль</label> <br/>
    <input type="password" name="password" id="password" placeholder="password"> <br/>
    {% if login_error %}
        <label class="errors"> {{login_error}}</label>
    {% endif %}<br/>
    <button type="submit" class="btn btn-default">Войти</button>
    <button type="submit" class="btn btn-default"><a href="{% url 'register'%}">Регистрация</a></button>
</form>
{% endblock %}