{% extends 'main.html' %}
{% load staticfiles %}
{% block notes %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>Редактирование</h1>
<form method='POST' action='' enctype='multipart/form-data'>

    {% csrf_token %}



      {{form.title}}
<br>

            <textarea type="text" name="text" id="text" rows="10" cols="80">
            </textarea>
            <script>
                CKEDITOR.replace('text');
            </script>
    {{form.text}}
    {{form.category}}
    {{form.publish}}
</form>

</div>

<input type='submit' class='btn btn-default' value='Edit Post' /></br>
{% endblock %}


