{% load staticfiles %}
{% load i18n mptt_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../../favicon.ico">

    <title>Менеджер заметок</title>

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/blog.css'%}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script></body>			{# todo: должно быть в head #}
    <script>
        function main_notes(s){
            $('#main_clean').empty();
            $('#main_notes').html(s);
        }
        function my_notes() {
          $.post('/mynotes/', {
              first:"-date",
              second:"title",
              }, function(s){
                main_notes(s);
            });
            return false;
        }
        function sort_notes_category() {
          $.post('/sort/ajax/', {
              first:"category",
              second:"title",
              }, function(s){
                main_notes(s);
            });
            return false;
        }
        function sort_notes_favorites() {
          $.post('/sort/ajax/', {
              first:"-favorites",
              second:"-date",
              }, function(s){
                main_notes(s);
            });
            return false;
        }
        function filter_week() {
          $.post('/filter/date/', {
              date: "7",
              }, function(s){
//              alert(s)
                main_notes(s);
            });
            return false;
        }
        function filter_month() {
          $.post('/filter/date/', {
              date: "31",
              }, function(s){
//              alert(s)
               main_notes(s);
            });
            return false;
        }
        function filter_favorites() {
          $.get('/filter/favorites/', function(s){
//              alert(s)
              main_notes(s);
//                $('#main_clean').empty();		// todo: выделить повторяющиеся две строчки
//                $('#main_notes').html(s);       // в именованную функцию
            });
            return false;
        }
    </script>
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Главная</a>
            {% if not username %}
          <a class="blog-nav-item" href="{% url 'register' %}">Регистрация</a>
          <a class="blog-nav-item" href="{% url 'login' %}">Вход</a>
            {% else %}
          <a class="blog-nav-item" href="{% url 'logout' %}">Выход</a>
            {% endif %}
            <form action="{% url 'search' %}" class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" method="get"name="q">
              </div>
              <button type="submit" class="btn btn-default">Go</button>
          </form>
        </nav>

      </div>
    </div>

    <div class="container">

      <div class="blog-header">

        <h1 class="blog-title">Менеджер заметок</h1>
        <p class="lead blog-description"> </p>
      </div>


      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <div id="main_clean">{% block notes %}{% endblock %}</div>
            <p id="main_notes"></p>
            <div id="main_clean">{% block loginsys %}{% endblock %}</div>
            <div id="main_clean"> <p>{% block search %}{% endblock %}</p></div>
          </div>


        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

          <div class="sidebar-module sidebar-module-inset">
            {% if username %}
            <h4>О заметках:</h4>
            <li><a href="{% url 'create' %}">Создать заметку</a></li>      {# todo: использовать {% url <...> %} #}
            <li><a href="#" onclick="return my_notes()">Все мои заметки</a></li>
            <li><a href="#" onclick="return sort_notes_category()">Сорировка по Категориям</a></li>
            <li><a href="#" onclick="return sort_notes_favorites()">Сорировка по Избраным</a></li>
            <li><a href="#" onclick="return filter_week()">Заметки за неделю</a></li>
            <li><a href="#" onclick="return filter_month()">Заметки за месяц</a></li>
            <li><a href="#" onclick="return filter_favorites()">Избранные</a></li>
            <li><a href="{% url 'form_filter_title' %}">Фильтр по заголовку</a></li>
            {% endif %}
              <form action="{% url 'filter_title'%}" method="get">
                <input type="submit" value="filter">
                <input type="text" name="q" placeholder="filter title">
            </form>
            <li>Использовался:</li>
            <li>Python 3.5</li>
            <li>Django 1.9.5</li>
            <li>Ckeditor</li>
            <li>Bootstrap</li>
          </div>
          {% if username %}
          <div class="sidebar-module">
            <h4>Archives</h4>
              <ol class="list-unstyled">
                {% recursetree category_all %}
                    <li><a href="/category/get/{{ node.id }}/">{{ node }}</a></li>
                    {% if not node.is_leaf_node %}
                        <li><a href="/category/get/{{ node.id }}/">   {{ children }}</a></li>
                    {% endif %}
                {% endrecursetree %}
            </ol>
          </div>
          {% endif %}
        </div>

      </div>

    </div>

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

</html>
